body {
  @apply bg-[#222222] text-slate-100 overflow-x-hidden;
}

header,
form .input-message {
  @apply bg-[#222222];
}

form #pesan {
  @apply bg-stone-700;
}

.simetris {
  @apply px-4 py-2;
}

.debug {
  @apply border border-slate-100;
}

.disable-zoom {
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.allow-zoom {
  user-select: text; /* Allow text selection */
  touch-action: auto; /* Allow mobile zooming */
}
