body {
  @apply overflow-x-hidden bg-colorLight dark:bg-colorDark text-slate-900 dark:text-slate-100;
}

.simetris {
  @apply px-4 py-2;
}

.debug {
  @apply border border-slate-900 dark:border-slate-100;
}

.disable-zoom {
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.allow-zoom {
  user-select: text; /* Allow text selection */
  touch-action: auto; /* Allow mobile zooming */
}
